*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color:#edf2fc;
    --secondary-color:#212121;
}


.dark-mode{
    --primary-color:#212121;
    --secondary-color:#edf2fc;
}

body{
    background-color: var(--primary-color);
}

/* NavBar ******************************************************************************************/
header{
    background-color: var(--primary-color);
}

li{
   list-style: none; 
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-branding{
    height: 50px;
    margin-left: 2vw;
    padding:20px 0 ; 
    cursor: pointer;
}

.nav-link{
    transition: color 0.2s ease;

    &:hover{
        color: red;
        border-bottom: 2px solid red;

    }
}

#icon{
    width: 25px;
    /* padding: 0 24px; */
    margin-right: 60px;
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 15px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary-color);
}


/* ************************************************************************************************** */

/* main div */
main{
    display: flex;
}

.info{
    margin-left: 6%;
    margin-top: 13%;
}

.info h1{
    font-size: 5vw;
    color: var(--secondary-color);
    margin-bottom: 5px;
}

span{
    color: red;
}

.info p{
    font-size: 1.3vw;
    color: var(--secondary-color);
    line-height: 25px;
}

#download-btn {
    background: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color:var(--primary-color);
    display: inline-block;
    margin: 25px  0;
    border-radius: 5px;

    &:hover{
        background-color: red;
        font-weight: 520;
    }
}

.social-links{
    margin-top: 20px;
}

.social-links a{
    font-size: 20px;
    color: var(--secondary-color);
    margin-right: 15px;
    transition: color 0.3s ease, font-size 0.3s ease;

    &:hover{
        color: rgb(227, 18, 18);
        font-size:25px ;
    }
}

.img-box img{
    width: 60vh;
    margin: 50px;
    /* position: absolute; */
    margin-left: 13%;
    transition: transform 0.3s;

    &:hover{
        transform: scale(1.05);
    }
} 


/* Making Responsive to smartphone */
@media (max-width:800px) {
    
    main{
        flex-direction: column;  
    }
    
    .img-box img{
        width: 80vw;
        margin:8%;
    }

    .info h1{
    font-size: 9vw;
    }

    .info p{
        font-size: 15px;
        line-height: 25px;
    }

    .info{
        width: 70vw; 
        margin-left: 9vw;
    }

    /* Making responsive Navbar */
    .hamburger{
        display: block;
    }

    header.active{
        background-color: var(--primary-color);
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    } 

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: -0;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 100%;
        text-align: center;
        /* transition: 0.3s; */
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    #icon{
        align-items: right;
    }

    body.active {
        overflow: hidden;
    }

    #icon {
        align-items: right;
        position: absolute;
        top: 33px;
        right: 1.5VW;
    }
}


/* Making Responsive for medium size screen */
@media(min-width:801px) and (max-width:1100px){
    .img-box img{
        width: 70vw;
        margin-left:15%;
    }

    .info{
        width: 43vw;
    }

    .info h1{
    font-size: 6vw;
    }

    .info p{
        font-size: 18px;
    }

    .img-box img{
        width: 40vw;
        margin-right:20px;
    }
}